@model Crane.DATA.EF.Models.BeerType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BeerType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BeerTypeId" class="control-label"></label>
                <input asp-for="BeerTypeId" class="form-control" />
                <span asp-validation-for="BeerTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeerTypeName" class="control-label"></label>
                <input asp-for="BeerTypeName" class="form-control" />
                <span asp-validation-for="BeerTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeerTypeDescription" class="control-label"></label>
                <input asp-for="BeerTypeDescription" class="form-control" />
                <span asp-validation-for="BeerTypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
