@{
    ViewData["Title"] = "Home";
}


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="~/img/AboutTaps.jpg" alt="">
                        <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.2s" src="~/img/AboutCheers.jpg" alt="">
                    </div>
                    <div class="col-6">
                        <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.3s" src="~/img/Brewery.jpg" alt="">
                        <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="~/img/BeerGal.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">About Us</p>
                    <h1 class="display-6">Insert the Story of Crane Here:</h1>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-sm-4">
                        <img class="img-fluid bg-white w-75" src="~/img/2Beers.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h5>Crane has lots of beers brewed locally.</h5>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit. Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit</p>
                    </div>
                </div>
                <div class="border-top mb-4"></div>
                <div class="row g-3">
                    <div class="col-sm-8">
                        <h5>Whatever info here</h5>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit. Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit</p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-fluid bg-white w-75" src="~/img/SingleBeer.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Products Start -->
<div class="container-fluid product py-5 my-5">
    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Beers at a Glance</h1>
            <p class="fs-5 fw-medium fst-italic text-primary">Insert whatever caption here</p>
        </div>
        <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
            <a href="" class="d-block product-item rounded">
                <img src="~/img/Beer1.png" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Beer 1</h4>
                    <span class="text-body">Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img src="~/img/Beer2.png" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Beer 2</h4>
                    <span class="text-body">Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img src="~/img/Beer3.png" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Beer 3</h4>
                    <span class="text-body">Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img src="~/img/Beer3.png" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Beer 4</h4>
                    <span class="text-body">Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Products End -->

@*<!-- Testimonial Start -->
<div class="container-fluid testimonial py-5 my-5">
    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-white">Testimonial</p>
            <h1 class="display-6">This could be a section for featured events?</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.5s">
            <div class="testimonial-item p-4 p-lg-5">
                <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="img-fluid flex-shrink-0" src="img/testimonial-1.jpg" alt="">
                    <div class="text-start ms-3">
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item p-4 p-lg-5">
                <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="img-fluid flex-shrink-0" src="img/testimonial-2.jpg" alt="">
                    <div class="text-start ms-3">
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item p-4 p-lg-5">
                <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="img-fluid flex-shrink-0" src="img/testimonial-3.jpg" alt="">
                    <div class="text-start ms-3">
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->*@

