@model Crane.DATA.EF.Models.TeamMember

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeamMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamMemberId" class="control-label"></label>
                <input asp-for="TeamMemberId" class="form-control" />
                <span asp-validation-for="TeamMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamMemberName" class="control-label"></label>
                <input asp-for="TeamMemberName" class="form-control" />
                <span asp-validation-for="TeamMemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamMemberTitle" class="control-label"></label>
                <input asp-for="TeamMemberTitle" class="form-control" />
                <span asp-validation-for="TeamMemberTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamMemberDescription" class="control-label"></label>
                <input asp-for="TeamMemberDescription" class="form-control" />
                <span asp-validation-for="TeamMemberDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamMemberImage" class="control-label"></label>
                <input asp-for="TeamMemberImage" class="form-control" />
                <span asp-validation-for="TeamMemberImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
